{%extends "base.html"%}
{%block content%}
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked side-nav" role="tablist">
                {%if pageObj.category%}
                <li role="presentation">
                  <a href="/post/list">全部</a>
                </li>
                {% else %}
                <li role="presentation" class="active">
                  <a href="/post/list">全部</a>
                </li>
                {%endif%}
                {%for c in categorys%}
                <li role="presentation" {%if pageObj.category == c._id%}class="active"{%endif%}>
                  <a href="/post/list?category={{c._id}}">{{c.name}}</a>
                </li>
                {%endfor%}
            </ul>
        </div>
        <div class="col-md-9">
            <ul class="post-list">
            {%for post in pageObj.posts%}
                <li>
                    <article class="post-info">
                        <h4><a href="/post/detail/{{post._id}}" target="_blank">{{post.title}}</a></h4>
                        <div class="post-excerpt">
                           {{post.excerpt | shorten(140)}}......
                        </div>
                        <div class="post-handle-bar">
                            {{post.createDate | dateFormat('YYYY-MM-DD')}}
                        </div>
                    </article>
                </li>
            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 page">
        {{pageObj | pagination | safe}}
        </div>
    </div>
</div>
{%endblock%}