{%extends "base.html"%}
{%block content%}
<div id="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="post-list">
                <li>
                    <article class="post-info">
                        <h4><a href="#">李宗盛《理想与感性作品音乐会》</a></h4>
                        <div class="post-excerpt">
                            李宗盛这样的歌词适合在夜凉如水的深夜里轻轻哼唱，熟悉的生活，小人物的视角，一边唱着一边顾影自怜，唱着唱着你就感受到那致命的冰凉，他歌词的味道在发酵，在挑逗着你那颗不安的心，在撩拨着你那蠢蠢欲动的爱情和梦想，每个人都在他的歌词里照见自己。
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
{%endblock%}