{% extends "base.html" %}
{%block content%}
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="user">
                <div class="user-avatar">
                    <img src="/img/2.jpg" alt="name">
                </div>
                <div class="user-meta">
                    文若
                </div>
                <div class="user-meta">
                    关注20个百科                
                </div>
                <div class="user-meta">
                    发布30个资源
                </div>
                <div class="user-meta">
                    获得1000次感谢
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h3>欢迎，文若</h3>
            <h4>与大家一起分享你的音乐知识吧！</h4>
            <div class="user-item">
                <h5>我关注的...</h5>
                <ul class="wiki-list">
                    <li>
                        <div class="wiki-pic">
                            <div class="wiki-avatar">
                                <img src="/img/1.jpg" alt="name">
                            </div>
                            <div class="wiki-name">李宗盛</div>
                        </div>
                        <div class="wiki-info">
                            <p>粉丝人数：10000</p>
                            <p>资源数：10000</p>
                            <p><a href="#">进入&raquo;</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="wiki-pic">
                            <div class="wiki-avatar">
                                <img src="/img/1.jpg" alt="name">
                            </div>
                            <div class="wiki-name">李宗盛</div>
                        </div>
                        <div class="wiki-info">
                            <p>粉丝人数：10000</p>
                            <p>资源数：10000</p>
                            <p><a href="#">进入&raquo;</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="user-item">
                <h5>我发布的...</h5>
                <ul class="post-list">
                <li>
                    <div class="post-author">
                        <div class="user-avatar">
                            <img src="/img/1.jpg" alt="user name.">
                        </div>
                    </div>
                    <article class="post-info">
                        <div class="post-from"><a href="#" class="gray-link">文若</a>&nbsp;在&nbsp;<a href="#" class="gray-link">李宗盛</a>&nbsp;的百科发布了
                        <span class="post-date">10分钟前</span>
                        </div>
                        <h4><a href="#">李宗盛《理想与感性作品音乐会》</a></h4>
                        <div class="post-excerpt">
                            李宗盛这样的歌词适合在夜凉如水的深夜里轻轻哼唱，熟悉的生活，小人物的视角，一边唱着一边顾影自怜，唱着唱着你就感受到那致命的冰凉，他歌词的味道在发酵，在挑逗着你那颗不安的心，在撩拨着你那蠢蠢欲动的爱情和梦想，每个人都在他的歌词里照见自己。
                        </div>
                        <div class="post-handle-bar">
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;123人感谢
                            <span class="glyphicon glyphicon-bookmark"></span>&nbsp;78人收藏
                        </div>
                    </article>
                </li>
                </ul>
            </div>
            <div class="user-item">
                <h5>我收藏的...</h5>
                <ul class="post-list">
                <li>
                    <div class="post-author">
                        <div class="user-avatar">
                            <img src="/img/1.jpg" alt="user name.">
                        </div>
                    </div>
                    <article class="post-info">
                        <div class="post-from"><a href="#" class="gray-link">文若</a>&nbsp;在&nbsp;<a href="#" class="gray-link">李宗盛</a>&nbsp;的百科发布了
                        <span class="post-date">10分钟前</span>
                        </div>
                        <h4><a href="#">李宗盛《理想与感性作品音乐会》</a></h4>
                        <div class="post-excerpt">
                            李宗盛这样的歌词适合在夜凉如水的深夜里轻轻哼唱，熟悉的生活，小人物的视角，一边唱着一边顾影自怜，唱着唱着你就感受到那致命的冰凉，他歌词的味道在发酵，在挑逗着你那颗不安的心，在撩拨着你那蠢蠢欲动的爱情和梦想，每个人都在他的歌词里照见自己。
                        </div>
                        <div class="post-handle-bar">
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;123人感谢
                            <span class="glyphicon glyphicon-bookmark"></span>&nbsp;78人收藏
                        </div>
                    </article>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}